.k-line1-1{
  animation: k-line1-run 1.6s  0s infinite;
}
.k-line1-2{
  animation:k-line1-run  1.6s  0.6s infinite;
}
.k-line1-3{
  animation: k-line1-run 1.6s  1s infinite;
}
.k-line1-4{
  animation: k-line1-run 1.6s  1.4s infinite;
}


.k-line2-1{
  animation: k-line1-run 1.6s  0.1s infinite;
}
.k-line2-2{
  animation:1.6s k-line1-run    0.2s infinite;
}
.k-line2-3{
  animation: k-line1-run 1.6s  0.3s infinite;
}
.k-line2-4{
  animation: k-line1-run 1.6s  0.4s infinite;
}


.k-line3-1{
  animation: k-line2-run 1.2s  0.1s infinite;
}
.k-line3-2{
  animation: k-line2-run  1.2s  0.3s infinite;
}
.k-line3-3{
  animation: k-line2-run 1.2s  0.4s infinite;
}
.k-line3-4{
  animation: k-line2-run 1.2s  0.5s infinite;
}


.k-line4-1{
  animation: k-line4-run 1.2s  0.1s infinite;
}
.k-line4-2{
  animation: k-line4-run  1.2s  0.2s infinite;
}
.k-line4-3{
  animation: k-line4-run 1.2s  0.3s infinite;
}
.k-line4-4{
  animation: k-line4-run 1.2s  0.4s infinite;
}

.k-line5-1{
  animation: k-line5-run 4s 1.0s infinite;
}
.k-line5-2{
  animation: k-line5-run 4s  0.8s infinite;
}
.k-line5-3{
  animation: k-line5-run 4s  0.6s infinite;
}
.k-line5-4{
  animation: k-line5-run 4s  0.4s infinite ;
}

.k-ring-1{
	animation: k-ring-1-run 2s infinite;
}
.k-ring-2{
	animation: k-ring-2-run 2s infinite linear;
}



@keyframes k-line1-run{
	0%{
		height: 16px;
	}
	50%{
		height:36px;
	}
	100%{
		height:16px;
	}
}

@keyframes k-line2-run{
		0%{
		width: 16px;
	}
	50%{
		width:26px;
	}
	100%{
		width:16px;
	}
}

@keyframes k-line4-run{
	35%{
		opacity: 0.3;
	}
	50%{
		opacity: 0.5;
		transform: translateY(-20px);
	}
	70%{
		opacity: 0.7;
		transform: translateY(3px);
	}
		85%{
		opacity: 0.9;
		transform: translateY(-3px);
	}
}



@keyframes k-line5-run{
   40%{
   	transform: translateX(0px);
   	opacity: 0.8;
   }

   100%{
   	transform: translateX(300px);
   		opacity: 0;
   }
}
@keyframes k-ring-1-run{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}
@keyframes k-ring-2-run{
	from{transform: rotate(0);}
	
	to{transform: rotate(360deg);}
}